/* style.css */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, sans-serif;
  background:#ffffff;
  color:#111827;
}

.container{
  display:flex;
  gap:30px;
  padding:50px;
}

/* LEFT */
.left{
  flex:1;
}

.label{
  color:#2563eb;
  font-weight:bold;
  margin-bottom:20px;
  letter-spacing:1px;
}

h1{
  font-size:72px;
  line-height:1.1;
  margin-bottom:25px;
}

.subtitle{
  color:#6b7280;
  margin-bottom:40px;
  font-size:20px;
}

.alert-card{
  border:1px solid #e5e7eb;
  border-radius:25px;
  padding:30px;
  background:#ffffff;
}

.alert-header{
  color:#2563eb;
  font-weight:bold;
  margin-bottom:20px;
  font-size:28px;
}

.alert-item{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:25px;
  margin-bottom:20px;

  border:1px solid #e5e7eb;
  border-radius:18px;

  font-size:24px;
  font-weight:bold;

  background:#f9fafb;
}

/* RIGHT */
.right{
  width:360px;

  border:1px solid #e5e7eb;
  border-radius:25px;

  padding:35px;
  height:fit-content;
}

.right h2{
  color:#2563eb;
  margin-bottom:40px;
}

.status-item{
  display:flex;
  justify-content:space-between;

  padding:20px 0;
  border-bottom:1px solid #e5e7eb;

  font-size:22px;
}

.red{
  color:red;
}

.yellow{
  color:#f59e0b;
}

button{
  width:100%;
  margin-top:40px;

  padding:20px;
  border:none;
  border-radius:16px;

  background:#2563eb;
  color:white;

  font-size:22px;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  background:#1d4ed8;
}